<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Slug</th>
      <th>Post</th>
      <th>Linked</th>
			<th>Link</th>
    </tr>
  </thead>
  <tbody>
	<% @posts.each do |post| %>
    <tr>
      <td><%= post.title %></td>
      <td><%= post.slug %></td>
      <td><%= post.text %></td>
      <td><%= post.linked %></td>
			<td><%= post.link %> </td>
    </tr>
	<% end %>
  </tbody>
</table>
