<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Slug</th>
      <th>Post</th>
      <th>Linked</th>
			<th>Link</th>
			<th> Delete </th>
    </tr>
  </thead>
  <tbody>
	<% @posts.each do |post| %>
    <tr>
      <td><%= post.title %></td>
      <td><%= post.slug %></td>
      <td><%= post.text %></td>
      <td><%= post.linked %></td>
			<td><%= post.link %> </td>
			<td><%= link_to("delete #{post.title}", {:controller => "posts", :action => "destroy", :id => post.id , :confirm => "are yo sure"}, :method => :delete) %>
    </tr>
	<% end %>
  </tbody>
</table>
