<%= form_for(@post) do |f| %>

	<div class = "field"> 
		<%= f.label :title %>
		<%= f.text_field :title %>
	</div>

  <div class = "field">
    <%= f.label :slug %>
    <%= f.text_area :slug %>
  </div>

  <div class = "field">
    <%= f.label :text %>
    <%= f.text_area :text %>
  </div>

	<div class = "field">
		<%= f.label :linked %>
		<%= f.check_box :linked %>
	</div>

	<div class = "field">
		<%= f.label :link %>
		<%= f.text_field :link %>
	</div>

	<div class = "actions" >
		<%= f.submit %>
	</div>

<% end %>
